.gis_container {
  width: 100%;
  height: 100%;
  position: relative;
  .gis_tool_content {
    width: 600px;
    // border-bottom: 1px solid #eee;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    border-radius: 10px;
  }
  .gis_content {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
    .mouse-position {
      position: absolute;
      bottom: 10px;
      left: 10px;
      z-index: 2;
      background-color: #fff;
      padding: 0 10px;
    }
    .zoom-position {
      position: absolute;
      top: 60px;
      left: 10px;
      z-index: 2;
      background-color: transparent;
      .zoom-position-container {
        display: flex;
        flex-direction: column;
      }
    }
    .full-screen-position {
      position: absolute;
      top: 20px;
      right: 10px;
      z-index: 2;
      background-color: transparent;
    }
  }
  .mark_point_container {
    width: 100px;
    height: 60px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(177, 177, 177);
  }
  .ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
    max-height: 100px;
  }
  .ol-popup:after,
  .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
  }
  .ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
  }
  .ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
  }
  .ol-popup-closer:after {
    content: '✖';
  }
}
